﻿@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<div class="link_section">
    <table>
    <tr>
        <td>Номергруппы</td>
        <td>Имя</td>
        <td>Оценка</td>
    </tr>
    @foreach (lab8.Models.Student student in Model)
    {
    <tr>
        <td>@student.GroupNumber</td>
        <td>@student.Name</td>
        <td>
            @for (int i = 2; i <=5; ++i)
            {
                @Html.ActionLink(@i.ToString(), "setMark", "Home", new { studentId = student.Id, subjectId = @student.SubjectId, mark = @i }, null)
            }
        </td>
    </tr>
    }
        </table>
    <p>
    @Html.ActionLink("Назад", "", "Home")
    </p>
</div>
