﻿@{
    ViewBag.Title = "Subjects";
}

<h2>Subjects</h2>

<div class="link_section">

    @foreach (lab8.Models.Subjects subject in Model)
    {
        @subject.Name
        <p>@Html.ActionLink("Показать студентов которые должны сдать", "Students", "Home", new { subjectId = @subject.Id }, null)</p>
        <p>@subject.Description</p>
        <br>
    }
    <p>
        @Html.ActionLink("Назад", "", "Home")
    </p>
</div>